@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
    background-color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hero {
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  background-attachment: fixed;
}

@media screen and (max-width: 768px){
  .hero {
    background-size: 120% 100%; 
  }
}